extends layout.pug

block content
    div.container
        h1 Liste des étudiants

        ul
            each student in students    
                li
                    | #{student.name} #{formatDate(student.birth)}
                    input(type="submit" value="X")